/target
**/*.rs.bk
*.pdb

# Databases, backups & local state
data/*.db*
data/backups/
data/certs/*.key
data/certs/*.crt
data/certs/*.csr
data/certs/*.srl
data/certs/*.cnf
data/avatars/*
!data/avatars/.gitkeep
data/banners/*
!data/banners/.gitkeep

test_*.bin
*.bat
*.py
*.db
*.db-shm
*.db-wal 
